@use '../styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  scroll-behavior: auto !important;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../assets/HomeBackground6.jpg") center center / cover
    no-repeat;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}

.divider {
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  margin: 20px auto;
}

.links {
  text-decoration: none;
  color: $border-color;
  
}

.hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
      }