* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: "Playfair Display", serif;
  font-size: 16px;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../assets/HomeBackground6.jpg") center center / cover
    no-repeat;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}
