@use "../styles/_variables.scss" as *;

.main {
  padding: $page-padding;
  padding-left: 15rem;
  padding-right: 15rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.664);
  user-select: none;
}
.header {
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: $font-color;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: $subtitle-color;
  }
}

.bio {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
  align-items: flex-start;

  .imageWrapper {
    flex: 1 1 250px;
    max-width: 250px;

    img {
      width: 100%;
      border-radius: 12px;
      object-fit: cover;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
  }

  .text {
    color: $font-color;
    flex: 2 1 500px;
    line-height: 1.6;

    p {
      margin-bottom: 1.5rem;

      strong {
        text-decoration: underline;
      }
    }
  }
}

.textIndent {
  text-indent: 2em; // klasiÄna uvlaka prve linije
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.skills {
    max-width: 500px;
  position: relative;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/skills-background.jpg") center/cover no-repeat;
    filter: brightness(70%) contrast(60%);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: $font-color;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.8rem;
      font-size: 1.1rem;
      color: $font-color;
    }
  }
}
