@use "../styles/animations.scss";
@use "../styles/variables.scss" as *;

.heroSection {
  height: 90vh;
  width: 100%;
}

.main h1 {
  text-align: center;
  font-family: "Anton", sans-serif;
  letter-spacing: 15px;
  font-size: 192px;
  line-height: 1;
  color: $font-color;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: $page-padding;
  user-select: none;
 
}

.animate {
  animation: fadeIn 3s ease-in forwards;
}

.main p:first-child {
  font-weight: bold;
  color: $subtitle-color;
  font-size: 1.4em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.747);
  margin: 10px;
}

.main p:last-child {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.3em;
  line-height: 0.7;
  letter-spacing: 0.8px;
  text-align: center;
  color: $font-color;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.644);
  margin: 5px;
}

.main p:last-child span {
  font-family: "Dancing Script", cursive;
  font-size: 1.3em;
  text-shadow: 2px 2px 4px black;
  color: rgb(255, 104, 104);
}

.exploreSection {
  height: 100vh;
  width: 100%;
  padding: $page-padding;
  text-align: center;
}

.exploreSection h2 {
  margin-top: 20px;
  color: $font-color;
  text-decoration: underline;
  font-size: 2rem;
}

.exploreSection h3 {
  font-size: 1.6rem;
  color: $subtitle-color;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.678);
}

.categoryGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
}

.categoryGroup div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 200px;
}

.exploreSection div p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
  max-width: 400px;
  margin: 0 auto;
  color: $font-color;
  font-size: 1.2rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.541);
}
