@use "../styles/variables" as *;
@use "../styles/mixins" as mix;

.bottomContainer {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: $border-color;
  .recentBlogs {
    display: inherit;
    flex-direction: column;
    @include mix.bottomDivs;
    h4 {
      text-align: center;
    }
  }

  .contactDiv {
    display: inherit;
    flex-direction: column;
    width: 300px;
    @include mix.bottomDivs;
    h3 {
      text-align: center;
    }
    p {
      display: inherit;
    }
    p span {
      margin-left: auto;
    }
  }
}

.lastSentence {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
