@use "../styles/animations.scss";
@use "../styles/variables.scss" as *;

header {
  display: flex;
  width: 100%;
  height: 12vh;
  background: $header-background;
  font-weight: 600;
  font-style: italic;
  --start-position: -100%;
  --close-to-end-position: -30%;
  animation: $movie-animation;
  position: fixed;
  z-index: 2;

}