@use '../styles/animations.scss';
@use '../styles/variables.scss' as *;

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12vh;
  background-color: #080400;
  font-weight: 600;
  font-style: italic;
  --start-position: -100%;
  --close-to-end-position: -30%;
  animation: $movie-animation;
  position: fixed;
  z-index: 1;
  cursor: url('../assets/cursor.png') 16 16, auto;
}

header nav {
    animation: fadeIn 5s ease-in forwards;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

header nav ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: $font-color;
  user-select: none;
}

header nav ul li a:hover, header nav ul li a.active {
  color: #c2a06d;
}

